@use "../utils/variables" as *;
@use "../utils/visually-hidden" as *;
@use "../animations/bounceEffect" as *;

.comment {
  &--animate {
    animation: bounceEffect 0.5s 1 ease-in-out;
  }

  &--delete {
    .comment__container {
      animation: bounceEffect 0.5s 1 ease-in-out reverse;
    }
  }

  &--reply {
    position: relative;
    width: 88%;
    margin-right: 5px;
    margin-left: auto;

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: -10px;
      width: 3px;
      height: calc(100% + 30px);
      background-color: $light-grayish-blue;
    }

    &:last-child::before {
      height: 100%;
    }

    .comment--reply {
      width: 100%;
    }
  }

  &__container {
    display: flex;
    position: relative;
    width: 90%;
    margin: 20px auto;
    //margin: 10px auto;
    padding: var(--tiles-padding);
    border-radius: 10px;
    background-color: $white;
    gap: 20px;

    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__info {
    width: 90%;

    @media (max-width: $mobile) {
      width: 100%;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 20px;

    @media (max-width: $mobile) {
      gap: 12px;
    }
  }

  &__avatar {
    width: 40px;
    border-radius: 50%;

    @media (max-width: $mobile) {
      width: 30px;
    }
  }

  &__author {
    font-size: 1rem;

    &-badge {
      margin-left: 5px;
      padding: 2px 5px 4px 5px;
      border-radius: 2px;
      background-color: $moderate-blue;
      color: $white;
    }
  }

  &__created-at {
    color: $grayish-Blue;
  }

  &__link {
    color: $moderate-blue;
    font-weight: bold;
    text-decoration: none;
  }

  &__tool-btn {
    font-size: 1rem;
    font-weight: bold;

    @media (max-width: $mobile) {
      position: absolute;
      right: var(--tiles-padding);
      bottom: var(--tiles-padding);
    }

    @media (max-width: 500px) {
      margin-bottom: 8px;
    }

    &-icon {
      margin-right: 3px;
    }

    &:hover,
    &:focus,
    &:active {
      opacity: 0.65;
    }
  }

  &__update {
    &-form {
      display: none;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
      margin-top: 15px;

      &--show {
        display: flex;
      }
    }

    &-error {
      top: 80px !important;

      @media (max-width: $mobile) {
        top: 70px !important;
      }
      @media (max-width: 500px) {
        top: 60px !important;
      }
    }

    &-btn {
      margin-top: 15px;
    }
  }

  &__delete-btn {
    margin-right: 10px;
    margin-left: auto;
    color: $soft-red;

    @media (max-width: $mobile) {
      right: 105px;
    }

    @media (max-width: 500px) {
      right: 80px;
    }
  }

  &__edit-btn {
    margin-right: 10px;
    color: $moderate-blue;
  }

  &__reply-btn {
    margin-left: auto;
    color: $moderate-blue;
  }

  &__content {
    margin-top: 15px;
    overflow: auto;
    line-height: 1.45;

    &--hide {
      display: none;
    }
  }

  &__votes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    order: -1;
    min-width: 38px;
    height: 100px;
    padding: 12px 7px;
    border-radius: 10px;
    background-color: $light-gray;

    @media (max-width: $mobile) {
      flex-direction: row;
      order: 2;
      width: 100px;
      height: auto;
      padding: 7px 12px;
    }
  }

  &__score {
    margin-top: -5px;
    font-size: 1.1rem;
    font-weight: bold;

    @media (max-width: $mobile) {
      margin-top: 0px;
    }
  }

  &__btn-vote {
    display: flex;
    align-items: center;
    justify-content: center;

    &--animate {
      animation: bounceEffect2 0.5s 1 ease-in-out;
    }

    &-icon {
      width: 11px;
      height: 11px;
      transition: $transition;
      fill: $gray;
    }

    &-info {
      @extend %visually-hidden;
    }

    &-down {
      height: 3px;

      @media (max-width: $mobile) {
        margin-top: 8px;
      }
    }

    &-up {
      order: -1;
    }

    &:hover {
      .comment__btn-vote-icon {
        fill: $moderate-blue;
      }
    }

    &--clicked {
      .comment__btn-vote-icon {
        fill: $moderate-blue;
      }
    }
  }
}
