@use "../utils/variables" as *;
@use "../utils/visually-hidden" as *;

.add-comment {
  display: flex;
  position: relative;
  align-items: start;
  justify-content: space-between;
  order: 1;
  width: 91%;
  margin: 0 auto;
  padding:  var(--tiles-padding);
  border-radius: 10px;
  background-color: $white;
  gap: 20px;

  &__title {
    @extend %visually-hidden;
  }

  &__avatar {
    width: 50px;

    @media (max-width: $mobile) {
      position: absolute;
      bottom:  var(--tiles-padding);
      left:  var(--tiles-padding);
    }
  }

  &__form {
    width: 100%;
    display: flex;
    align-items: flex-start;
    order: 1;
    border-radius: 10px;
    gap: 20px;

    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: flex-end;
    }
  }

  &__label {
    @extend %visually-hidden;
  }

  &__textarea {
    display: block;
    width: 100%;
    min-height: 100px;
    padding: 10px 20px;
    border-radius: 10px;
    border-color: $moderate-blue;
    resize: none;
  }

  &__submit {
    padding: 15px 30px;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    background-color: $moderate-blue;
    color: $white;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;

    &:hover,
    &:focus,
    &:active {
      opacity: 0.65;
    }
  }
}
