@use '../animations/opacityEffect';

.content {
    animation: opacityEffect 0.8s 1 ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    margin: 50px auto;
}